<template>
  <div class="border p-2.5 border-gray-300 mt-5" v-show="props.isShow">
    <div v-html="props.question"></div>
    <ul class="flex flex-col gap-y-1 mt-4">
      <li v-for="answer in props.answer" class="flex items-center p-2 gap-x-1 bg-gray-200 rounded-sm">
        <input type="checkbox" :name="question" :value="answer" v-model="selectedAnswer" size="150">
        <span class="text-gray-800">{{ answer }}</span>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import {ref} from 'vue';
import type {Ref} from "vue";

const props = defineProps({
      question: {
        type: String,
        default: 'Câu hỏi'
      },
      answer: {
        type: [String],
        default: []
      },
      isShow: {
        type: Boolean,
        default: false
      }
    }
)
const selectedAnswer: Ref<Array<string>> = ref([])
</script>