<template>
  <div class="border border-stone-400">
    <!--    header-->
    <header class="p-1.5 bg-stone-200 shadow">
      Câu hỏi nhiều đáp án
    </header>
    <div class="flex flex-col p-4 gap-y-2">
      <!--    question-->
      <div class="flex flex-col gap-y-2.5">
        <h1>Câu hỏi<span class="text-red-600">*</span></h1>
        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
      </div>
      <!--    answers-->
      <div class="flex flex-col gap-y-2.5">
        <h1>Câu trả lời<span class="text-red-600">*</span></h1>
        <div>
          <ul ref="answerList">
            <li v-for="(item, index) in listAnswer" :key="index" class="border border-stone-300 mb-4">
              <div class="flex justify-between p-2.5 bg-gray-400">
                <h3 class="text-white">Câu trả lời thứ {{ index + 1 }}</h3>
                <button class="text-white" @click="removeAnswer(index)">X</button>
              </div>
              <div class="p-4">
                <input
                    type="text"
                    v-model="listAnswer[index]"
                    class="w-full border border-gray-300 focus:border-red-300 focus:ring-indigo-200 rounded-md shadow-sm py-2 px-4"
                />
                <label>
                  <input type="checkbox" v-model="correctAnswers" :value="index" class="mt-4">
                  Câu trả lời đúng
                </label>
              </div>
            </li>
          </ul>
          <!-- add answer buton -->
          <button class="bg-blue-400 py-2 px-4 mt-4 rounded text-white" @click="addAnswer">
            Thêm câu trả lời
          </button>
        </div>
      </div>
      <!--    preview-->
      <div>
        <button @click="isShowPreview = !isShowPreview">> Xem trước câu hỏi</button>
        <preview-multiple-question :question="editorData" :answer="listAnswer" :is-show="isShowPreview"/>
      </div>
    </div>

  </div>
</template>
<script setup lang="ts">
import {ref, nextTick} from 'vue';
import type {Ref} from 'vue';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import PreviewMultipleQuestion from "@/components/MultipleQuestion/PreviewMultipleQuestion.vue";

const editor = ref(ClassicEditor);
const editorData = ref('');
const editorConfig = ref({

});

const isShowPreview: Ref<boolean> = ref(false)
const listAnswer : any = ref(['example'])
const correctAnswers: Ref<Array<number>> = ref([]);
const addAnswer = () => {
  listAnswer.value.push('')
  scrollToBottom();

  console.log(correctAnswers.value)
}
const removeAnswer = (index: number) => {
  listAnswer.value.splice(index, 1)
  removeCorrectAnswer(index)
}
const scrollToBottom = () => {
  nextTick(() => {
    const answerList = document.querySelector('#answerList');
    if (answerList) {
      answerList.scrollTop = answerList.scrollHeight;
    }
  });
};
const removeCorrectAnswer = (item: number) => {
  console.log(item)
  const index = correctAnswers.value.indexOf(item)
  console.log(index)
  if(index >= 0) correctAnswers.value.splice(index, 1)
}
</script>